form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    background-color: #1d1d1d;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 100%;
    font-size: 20px;
    color: #fff;
}

label {
  font-family: 'Mynerve', cursive;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  color: #45abff
}

input,
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

button {
    background-color: #1f9aff;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.5);
}

button:hover {
    background-color: #0f79c9;
}
 a {
    color: rgb(0, 195, 255);
 }

 img {
    padding:0;
    margin:0;
    height: 150px;
 }
  
  .box {
    font-size: 8px;
    font-family: "Pokemon", sans-serif;
    color:black;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 50px;
    width: 250px;
    height: 28px;
    line-height: 16px;
    margin: auto;
    background: rgb(227, 227, 227);
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
  }
  .box > i {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: black;
    margin-top: 23px;
    animation: bounce 0.5s ease-in-out 0 infinite alternate;
    float: right;
  }
  
  @keyframes bounce {
    from { margin-top: 20px; }
    to { margin-top: 23px; }
  }