form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 250px;
}

form {
    background-color: #1d1d1d;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 100%;
    font-size: 20px;
    color: #fff;
}



input,
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

button {
    background-color: #1f9aff;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.5);
}

button:hover {
    background-color: #0f79c9;
}
 a {
    color: rgb(0, 195, 255);
 }