.image-div {
    border: solid;
    border-color: azure;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    margin: 10px;
    background-color: #d1d1d1;
}

.card-div {
    display:flex;
    border: solid;
    border-color: azure;
    width: 420px;
    height: 250px;
    border-radius: 30px;
    background-color: #1d1d1d;
    margin: 20px 10px 10px 10px;
    color: azure;
    font-family: 'Orbitron', sans-serif;
    min-width: 420px;
}

.card-h {
    margin-left: 20px;
}

.card-list {
    display: flex;
    flex-direction: column;
}

.card-list > li {
    margin-bottom: 25px;
    margin-left: 10px;
}

.type-div {
    margin: 20px;
}

.type-image {
    height: 20px;
    padding: 5px;
}

.delete-btn {
    max-width: 150px;
    max-height: 50px;
    padding: 2px;
    margin:5px;
}

.other-btn {
    display: flex;
    justify-content: center;
}

.edit-btn {
    max-width: 150px;
    max-height: 50px;
    padding: 2px;
    margin:5px;
}