.card-container {
    display: flex;
    max-width: 100%;
    align-items: center;
}

#user-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #1f9aff;
    font-size: 18pt;
    text-shadow : 0 0 20px #1f9aff;
    font-family: 'Orbitron', sans-serif;
}

.err-header{
    color: #1f9aff;
    font-size: 18pt;
    text-shadow : 0 0 20px #1f9aff;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.add-btn {
    height: 150px;
    width: 150px;
    margin: 20px;
    border: solid;
    border-color: azure;
    border-radius: 20px;
    background-color: #1d1d1d;
    font-family: 'Orbitron', sans-serif;
    font-size: 16pt;
    color: #b3b3b3;
    box-shadow: none;
}

.add-btn:hover {
    background-color: #16222a;
}