.App {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 150px;
  width: 100%;
  border:solid;
  background-color: #1d1d1d;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

li {
  margin-right: 20px;
}

#title {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 0;
  color: #1f9aff;
  font-size: 20pt;
  text-shadow : 0 0 20px #1f9aff;
  font-family: 'Orbitron', sans-serif;
}

body {
  background-color: #404040;
}
